---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyBVjDvJmR9z7k3Jaj8UAoprueb5ARDaGqY&latlng=40.780898,-73.247246&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "766-784",
                       "short_name" : "766-784",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Suffolk Avenue",
                       "short_name" : "County Rd 100",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Brentwood",
                       "short_name" : "Brentwood",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "lon[...]
