---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/push
    body:
      encoding: UTF-8
      string: '{"data":{"alert":"Your friend John has beaten you!"},"where":{"username":"1","deviceType":"android"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Basic realm="Parse"
      X-Parse-Platform:
      - G1
    body:
      encoding: UTF-8
      string: |
        {"error":"unauthorized"}
  recorded_at: Tue, 03 Nov 2015 20:29:11 GMT
recorded_with: VCR 2.9.3
