---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/push
    body:
      encoding: UTF-8
      string: '{"data":{"alert":"A message"},"channel":"test","type":"ios"}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - PARSE_APPLICATION_ID
      X-Parse-Rest-Api-Key:
      - PARSE_API_KEY
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
      X-Parse-Push-Status-Id:
      - v8mt1G3O0R
    body:
      encoding: UTF-8
      string: |
        {"code":115,"error":"To push to ios devices, you must first configure a valid certificate."}
  recorded_at: Wed, 28 Oct 2015 08:10:00 GMT
recorded_with: VCR 2.9.3
