---
http_interactions:
- request:
    method: post
    uri: https://api.parse.com/1/push
    body:
      encoding: UTF-8
      string: '{"data":{"alert":"A message"},"where":{"username":"test","deviceType":"android"}}'
    headers:
      Content-Type:
      - application/json
      X-Parse-Application-Id:
      - PARSE_APPLICATION_ID
      X-Parse-Rest-Api-Key:
      - PARSE_API_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Parse-Platform:
      - G1
      X-Parse-Push-Status-Id:
      - FDVGhlr173
    body:
      encoding: UTF-8
      string: |
        {"result":true}
  recorded_at: Wed, 28 Oct 2015 08:09:14 GMT
recorded_with: VCR 2.9.3
