---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: US-ASCII
      string: address[street1]=5th%20Avenue&address[city]=New%20York&address[state]=NY
    headers:
      Authorization:
      - Bearer EASYPOST_API_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - "/api/v2/addresses/adr_cb4ac253962041b6a1239f7d466c8b6a"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f4cc7c254b2ca58bef4c409662d4ea9f"
      X-Node:
      - web3sj, 81669f77aa
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, d36de79499
    body:
      encoding: UTF-8
      string: '{"address":{"id":"adr_cb4ac253962041b6a1239f7d466c8b6a","object":"Address","created_at":"2015-10-21T08:17:28Z","updated_at":"2015-10-21T08:17:28Z","name":null,"company":null,"street1":"5
        AVENUE A","street2":"","city":"NEW YORK","state":"NY","zip":"10009-7944","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null}}'
  recorded_at: Wed, 21 Oct 2015 08:17:31 GMT
recorded_with: VCR 2.9.3
