---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: US-ASCII
      string: address[street1]=5th%20Avenue&address[city]=New%20York&address[state]=NY
    headers:
      Authorization:
      - Bearer EASYPOST_API_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - "/api/v2/addresses/adr_6f1e5985021a4f3aa1a110dcb5120c1e"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d8f906a08470fc2de0735f76714f85e6"
      X-Node:
      - web4sj, c28a10e7d5
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, d36de79499
    body:
      encoding: UTF-8
      string: '{"address":{"id":"adr_6f1e5985021a4f3aa1a110dcb5120c1e","object":"Address","created_at":"2015-10-30T16:49:57Z","updated_at":"2015-10-30T16:49:57Z","name":null,"company":null,"street1":"5
        AVENUE A","street2":"","city":"NEW YORK","state":"NY","zip":"10009-7944","country":"US","phone":null,"email":null,"mode":"production","carrier_facility":null,"residential":false,"federal_tax_id":null}}'
  recorded_at: Fri, 30 Oct 2015 16:49:57 GMT
recorded_with: VCR 2.9.3
