---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: US-ASCII
      string: address[street1]=A%20non%20existant%20address%20to%20trigger%20proper%20error&address[city]=New%20York&address[state]=NY
    headers:
      Authorization:
      - Bearer EASYPOST_API_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - 400 Bad Request
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - web5sj, 1d67f30217
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, 65049c413e
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ADDRESS.VERIFY.FAILURE","message":"Address Not Found.  ","errors":[]}}'
  recorded_at: Thu, 15 Oct 2015 11:43:32 GMT
recorded_with: VCR 2.9.3
