---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: US-ASCII
      string: address[street1]=5th%20Avenue&address[city]=New%20York&address[state]=NY
    headers:
      Authorization:
      - Bearer EASYPOST_API_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - "/api/v2/addresses/adr_bb9d04df97ef4b89b3f32fe3adbdcc1c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"73130d81dd3d110caa410ca37f38f798"
      X-Node:
      - web5sj, 1d67f30217
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, 65049c413e
    body:
      encoding: UTF-8
      string: '{"address":{"id":"adr_bb9d04df97ef4b89b3f32fe3adbdcc1c","object":"Address","created_at":"2015-10-15T11:43:30Z","updated_at":"2015-10-15T11:43:30Z","name":null,"company":null,"street1":"5
        AVENUE A","street2":"","city":"NEW YORK","state":"NY","zip":"10009-7944","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null}}'
  recorded_at: Thu, 15 Oct 2015 11:43:34 GMT
recorded_with: VCR 2.9.3
