---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: US-ASCII
      string: address[street1]=5th%20Avenue&address[city]=New%20York&address[state]=NY
    headers:
      Authorization:
      - Bearer EASYPOST_API_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - "/api/v2/addresses/adr_47b4051e91e845348351048e4a996c2c"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"09aceb59b7b3453414e457e313f3bbaa"
      X-Node:
      - web4sj, bea3250d8c
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, d36de79499
    body:
      encoding: UTF-8
      string: '{"address":{"id":"adr_47b4051e91e845348351048e4a996c2c","object":"Address","created_at":"2015-10-29T13:30:39Z","updated_at":"2015-10-29T13:30:39Z","name":null,"company":null,"street1":"5
        AVENUE A","street2":"","city":"NEW YORK","state":"NY","zip":"10009-7944","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null}}'
  recorded_at: Thu, 29 Oct 2015 13:30:40 GMT
recorded_with: VCR 2.9.3
