---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=823950097719547&client_secret=dea8b556df75b906aa59ab482def6e26&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Facebook-Api-Version:
      - v2.0
    body:
      encoding: UTF-8
      string: access_token=823950097719547|oS3DYF56aL2V4qHXWiBZweVqK44
  recorded_at: Mon, 26 Oct 2015 17:52:38 GMT
- request:
    method: post
    uri: https://graph.facebook.com/823950097719547/accounts/test-users
    body:
      encoding: UTF-8
      string: access_token=823950097719547%7CoS3DYF56aL2V4qHXWiBZweVqK44&installed=true&permissions=email%2Cpublic_profile
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: UTF-8
      string: '{"id":"125104701181833","access_token":"CAALtYNTjIPsBAKcVDaqcW2I4gLaSCmhZBSDEeo8KhyPr0ikSjNe7bsqizpoDck5Ewho3s86DkqtsMQg05eduwO58n3or5gOuJPK0JmJUmkJUJrkMLWJUmFfpr4EZC3rYomWDxf0zX97VEetWWnLhXeyInkBwUsQLZBs05XSH2sAWzMZAZB2nyzEHa7m3netJnJ6ZC7f1JkJgZDZD","login_url":"https:\/\/developers.facebook.com\/checkpoint\/test-user-login\/125104701181833\/","email":"xbnotgk_alisonson_1445881958\u0040tfbnw.net","password":"1158847204"}'
  recorded_at: Mon, 26 Oct 2015 17:52:42 GMT
recorded_with: VCR 2.9.3
