---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=823950097719547&client_secret=dea8b556df75b906aa59ab482def6e26&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Facebook-Api-Version:
      - v2.0
    body:
      encoding: UTF-8
      string: access_token=823950097719547|oS3DYF56aL2V4qHXWiBZweVqK44
  recorded_at: Fri, 30 Oct 2015 16:50:03 GMT
- request:
    method: post
    uri: https://graph.facebook.com/823950097719547/accounts/test-users
    body:
      encoding: UTF-8
      string: access_token=823950097719547%7CoS3DYF56aL2V4qHXWiBZweVqK44&installed=true&permissions=email
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: UTF-8
      string: '{"id":"111100622585315","access_token":"CAALtYNTjIPsBANn4CmYVyyKcMGX4iEkbO3vQWZAuoMA1A5b6VMKnwlsPc9veKrlSd9x4RFJKzxcjzrG1GfqkbtxWeburlj1m8YoSY1eDVqlzWKZB6CQCTtr6m5dsvZBUBWG3jDweHN2B4WzsP2Jf2ZCnU71UHPbXMZC1zT3nu6CtYulbmHrwMjEyUyZBr7bMYZD","login_url":"https:\/\/developers.facebook.com\/checkpoint\/test-user-login\/111100622585315\/","email":"mestexl_seligsteinberg_1446223804\u0040tfbnw.net","password":"372892534"}'
  recorded_at: Fri, 30 Oct 2015 16:50:04 GMT
recorded_with: VCR 2.9.3
