---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=823950097719547&client_secret=dea8b556df75b906aa59ab482def6e26&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Facebook-Api-Version:
      - v2.0
    body:
      encoding: UTF-8
      string: access_token=823950097719547|oS3DYF56aL2V4qHXWiBZweVqK44
  recorded_at: Mon, 26 Oct 2015 10:07:54 GMT
- request:
    method: post
    uri: https://graph.facebook.com/823950097719547/accounts/test-users
    body:
      encoding: UTF-8
      string: access_token=823950097719547%7CoS3DYF56aL2V4qHXWiBZweVqK44&installed=true&permissions=email
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: UTF-8
      string: '{"id":"109276482766949","access_token":"CAALtYNTjIPsBAKNnJrhEws5Aeps8bKxp55YiiBQeXZAY0TPFkY3DXyWWA1Jn27ip2cCpSNromNWSJOMvnz58DrRHJB2frCcXRGs7GQDxdEHYY7cpfiCbh0HfJ9Iye0CcLwGse6AVlwdcluZCyZB8HOYryvQPdbw05Kj1I0OCvRnrLX9LTLAs4zKURrgFQT3JaZBkZB754rwZDZD","login_url":"https:\/\/developers.facebook.com\/checkpoint\/test-user-login\/109276482766949\/","email":"cqdfeaq_martinazzison_1445854075\u0040tfbnw.net","password":"1189988757"}'
  recorded_at: Mon, 26 Oct 2015 10:08:03 GMT
recorded_with: VCR 2.9.3
