---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: US-ASCII
      string: address[street1]=5th%20Avenue&address[city]=New%20York&address[state]=NY
    headers:
      Authorization:
      - Bearer EASYPOST_API_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - "/api/v2/addresses/adr_d705318845df4020aac78ae98800c1a7"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cc4100998605b2a0e2ceca18cfb3f49f"
      X-Node:
      - web5sj, 7d16932bbc
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, e7a611e00e
    body:
      encoding: UTF-8
      string: '{"address":{"id":"adr_d705318845df4020aac78ae98800c1a7","object":"Address","created_at":"2015-11-03T08:28:55Z","updated_at":"2015-11-03T08:28:55Z","name":null,"company":null,"street1":"5
        AVENUE A","street2":"","city":"NEW YORK","state":"NY","zip":"10009-7944","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null}}'
  recorded_at: Tue, 03 Nov 2015 08:28:56 GMT
recorded_with: VCR 2.9.3
