---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: US-ASCII
      string: address[street1]=5th%20Avenue&address[city]=New%20York&address[state]=NY
    headers:
      Authorization:
      - Bearer EASYPOST_API_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - "/api/v2/addresses/adr_0560363e0d104f87a065808df6bab363"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a91afaac53416e9fd22623d1cd195cd4"
      X-Node:
      - web11sj, c28a10e7d5
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, e7a611e00e
    body:
      encoding: UTF-8
      string: '{"address":{"id":"adr_0560363e0d104f87a065808df6bab363","object":"Address","created_at":"2015-10-30T16:49:22Z","updated_at":"2015-10-30T16:49:22Z","name":null,"company":null,"street1":"5
        AVENUE A","street2":"","city":"NEW YORK","state":"NY","zip":"10009-7944","country":"US","phone":null,"email":null,"mode":"production","carrier_facility":null,"residential":false,"federal_tax_id":null}}'
  recorded_at: Fri, 30 Oct 2015 16:49:22 GMT
recorded_with: VCR 2.9.3
