---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: US-ASCII
      string: address[street1]=&address[city]=New%20York&address[state]=NY
    headers:
      Authorization:
      - Bearer EASYPOST_API_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - 400 Bad Request
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - web3sj, bea3250d8c
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, d36de79499
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ADDRESS.VERIFY.FAILURE","message":"Insufficient address
        data provided. A street must be provided.","errors":[]}}'
  recorded_at: Thu, 29 Oct 2015 13:22:08 GMT
recorded_with: VCR 2.9.3
