---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: US-ASCII
      string: address[street1]=4166%20Wilson%20Ave&address[city]=San%20Diego&address[state]=CA&address[zip]=92104
    headers:
      Authorization:
      - Bearer EASYPOST_API_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Status:
      - 400 Bad Request
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - web4sj, 6427aa0e60
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, da774e7ae0
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ADDRESS.VERIFY.FAILURE","message":"Default address:
        The address you entered was found but more information is needed (such as
        an apartment, suite, or box number) to match to a specific address.","errors":[]}}'
  recorded_at: Fri, 20 Nov 2015 19:59:38 GMT
recorded_with: VCR 2.9.3
