---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: US-ASCII
      string: address[street1]=5th%20Avenue&address[city]=New%20York&address[state]=NY
    headers:
      Authorization:
      - Bearer EASYPOST_API_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - "/api/v2/addresses/adr_e0bb441d01b048b0a1515c700faaa4da"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"192131162bc34a0c70cefd03a6dcadeb"
      X-Node:
      - web6sj, 81669f77aa
      X-Backend:
      - easypost
      X-Proxied:
      - lb5sj, d36de79499
    body:
      encoding: UTF-8
      string: '{"address":{"id":"adr_e0bb441d01b048b0a1515c700faaa4da","object":"Address","created_at":"2015-10-19T08:49:43Z","updated_at":"2015-10-19T08:49:43Z","name":null,"company":null,"street1":"5
        AVENUE A","street2":"","city":"NEW YORK","state":"NY","zip":"10009-7944","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null}}'
  recorded_at: Mon, 19 Oct 2015 08:49:44 GMT
recorded_with: VCR 2.9.3
