---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses/create_and_verify
    body:
      encoding: US-ASCII
      string: address[street1]=5th%20Avenue&address[city]=New%20York&address[state]=NY
    headers:
      Authorization:
      - Bearer EASYPOST_API_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - "/api/v2/addresses/adr_294a50b0659e4f6f902baa6fb747feb5"
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d84277cc84d34046623f71357ebda6f4"
      X-Node:
      - web4sj, bea3250d8c
      X-Backend:
      - easypost
      X-Proxied:
      - lb4sj, d36de79499
    body:
      encoding: UTF-8
      string: '{"address":{"id":"adr_294a50b0659e4f6f902baa6fb747feb5","object":"Address","created_at":"2015-10-29T12:56:05Z","updated_at":"2015-10-29T12:56:05Z","name":null,"company":null,"street1":"5
        AVENUE A","street2":"","city":"NEW YORK","state":"NY","zip":"10009-7944","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null}}'
  recorded_at: Thu, 29 Oct 2015 12:56:05 GMT
recorded_with: VCR 2.9.3
